.container{
    width: 100%;
    height: calc(100vh - 80px);
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("https://images.pexels.com/photos/6984650/pexels-photo-6984650.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position:center ;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{
    background-color: white;
    width: 40%;
    padding: 20px;
}

/* form */
 form{
    display: flex;
    flex-direction: column;
}
form>div{
    margin: 5px 0px;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
}
input{
    flex: 1;
min-width: 40%;
margin:10px 0px;
padding:10px;
}

/* login button */
form> button{
    width: 40%;
    border: none;
    padding: 12px 20px;
    background-color: #2879fe;
    color: white;
    cursor: pointer;
}
form>button:disabled{
    background-color:grey;
    color:"red";
    cursor: not-allowed;
}
.error{
    color: red;
}